@charset "UTF-8";

@font-face {
  font-family: 'CorporateS-Demi';
  src: url('../fonts/CorporateS-Demi.scr');
}

@font-face {
  font-family: 'CorporateACon-Reg';
  src: url('../fonts/CorporateACon-Reg.otf');
}

@font-face {
  font-family: 'Corporate-S';
  src: url('../fonts/CorporateS-Regular.eot');
}

@font-face {
  font-family: 'Corporate-S';
  src: url('../fonts/CorporateS-Regular.otf');
}

@font-face {
  font-family: 'DaimlerCAC';
  src: url('../fonts/DaimlerCAC-Bold.otf');
}

@font-face {
  font-family: 'HanYiSong';
  src: url('../fonts/汉仪中宋简.OA');
}

@font-face {
  font-family: 'HanYiSongBold';
  src: url('../fonts/汉仪粗宋简.OA');
}

